@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css");
	
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', arial;
}

nav {
  background-color: #0d2137;
  opacity: 0.99;
}

.logo {
	width: 40px;
	height: 40px;
}

.navbar-toggler {
	background-color: #FF8E2B;
}

.navbar .navbar-collapse .nav-contact {
	color: #FF8E2B;
}

.landing-section {
	background-image: url("./assets/images/landing-bg.jpg");
	background-position: center bottom; 
	background-size: cover;
	color: #0d2137;
	padding: 12em 2em 15em 2em;
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
}

.separator::before,
.separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #212529;
  opacity: .25;
}

.separator:not(:empty)::before {
  margin-right: .25em;
}

.separator:not(:empty)::after {
  margin-left: .25em;
}

.btn {
	background-color: #FF8E2B;
	color: white;
}

.about-section {
	background-color: #2E77AE;
	color: white;
	padding: 5em 2em 5em 2em;
}

.logo1 {
	width: 60px;
	height: 85px;
	padding-top: 5px;
}

.logo2 {
	width: 100px;
	height: 99px;
}

.logo3 {
	width: 60px;
	height: 83px;
	margin-right: 15px;
}

.logo4 {
	width: 70px;
	height: 70px;
	margin-top: 15px;
}

.logo5 {
	width: 300px;
	height: 100px;
}

.projects-section {
	background-color: #E0EAF5;
	padding: 5em 2em 5em 2em;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
	background-color: #FF8E2B;
}

.projbtn {
	background-color: #FF8E2B;
}

.contact-section {
	background-color: #2E77AE;
	color: white;
	padding: 5em 2em 5em 2em;
}

.form-floating {
	color: black;
}

#msgInput {
	height: 135px;
}

footer {
	background-color: #0d2137;
	color: white;
	padding-left: 2em;
	padding-right: 2em;
}